@font-face {
  font-family: fuente-gd;
  src: url(./font/fuente-gd.woff2);
}

@font-face {
  font-family: fuente-gd-2;
  src: url(./font/fuente-gd-2.woff2);
}

* {
  font-family: fuente-gd;
  color: #9e8382;
  font-size: 11pt;
}

.cuerpo {
  /* background-image: radial-gradient(circle at center, #E4D8D3 0, black 200%);
  padding-top: 60px; */
  background: radial-gradient(circle at center, #E4D8D3 0%, #f5ded5 50%, #eecfc1 100%);
  background-attachment: fixed;
  background-position: center center;
  margin: 0;
  padding: 0;
  width: 99vw;
  overflow-x: hidden;
  /* Add this */
}

.d-flex {
  display: flex;
}

/* Add a black background color to the top navigation */
.logonav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  position: fixed;
  /* Add this */
  width: 99vw;
  /* Add this */
  top: 0;
  z-index: 4;
  pointer-events: none;
  /* Add this */
}

.txt-upp {
  text-transform: uppercase;
}



.logo-bg {
  clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 100%, 0 0);
  background: rgb(0, 0, 0);
  width: 100px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.logo-bg>img {
  margin-top: 150px;
  width: 60px;
  height: 60px;
}

.w-90 {
  width: 70%;
}

.marco {
  width: 80%;
  position: relative;
  z-index: -1;
}


.rotar-180 {
  transform: rotate(180deg);
}

.pic-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.pic-info>p {
  width: 30%;
  text-align: center;
}

.pic-clip {
  clip-path: circle(50%);
  position: relative;
  z-index: -1;
}

.c-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.txt-s42 {
  font-size: 42pt;
}

.txt-s18 {
  font-size: 18pt;
}

.txt-s14 {
  font-size: 14pt;
}

.space-blt-3 {
  letter-spacing: 3pt;
}

.space-blt-5 {
  letter-spacing: 5pt;
}

.font-cursive {
  font-family: fuente-gd-2;
}

.txt-black {
  color: black;
}

/* Responsive navigation menu - display links on top of each other */
@media screen and (max-width: 1050px) {
  .ocultar-m768 {
    display: none;
  }

  .sticknav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: radial-gradient(circle at center, #e4d8d3 0%, #f5ded5 50%, #eecfc1 100%);
    background-attachment: fixed;
    background-position: center center;
  }

  .sticknav a {
    float: left;
    text-align: center;
    text-decoration: none;
    height: 25px;
    padding-bottom: 10px;
    padding-top: 5%;
  }

  .link {
    display: none;
    border-bottom: 1px solid #9e83828c;
  }

  .btn-menu {
    margin-top: 10px;
    width: 99vw;
    border-bottom: 1px solid #9e83828c;
  }

  .show-menu {
    display: flex;
    width: 99vw;
    justify-content: center;
    background: radial-gradient(circle at center, #e4d8d3 0%, #f5ded5 50%, #eecfc1 100%);
    background-attachment: fixed;
    background-position: center center;
  }

  .txt-s42 {
    font-size: 4vw;
  }

  .txt-s18 {
    font-size: 3vw;
  }

  .txt-s14 {
    font-size: 7pt;
  }

  .space-blt-3 {
    letter-spacing: 1pt;
  }


  .logo-bg {
    clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 100%, 0 0);
    background: rgb(0, 0, 0);
    width: 50px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }

  .logo-bg>img {
    margin-top: 75px;
    width: 30px;
    height: 30px;
  }

  .pic-side {
    display: none;
  }

  .pic-clip {
    width: 80%;
  }
}

@media screen and (min-width: 1050px) {
  .ocultar-M768 {
    /* Estilos para pantallas mayores a 768px */
    display: none;
  }

  .pic-side {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .sticknav {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #9e83828c;
    background: radial-gradient(circle at center, #e4d8d3ec 0%, #f5ded5ef 50%, #eecfc1f1 100%);
    background-attachment: fixed;
    background-position: center center;
    height: 60px;
  }

  .sticknav a {
    float: left;
    text-align: center;
    padding: 7px 17px;
    text-decoration: none;
    height: 25px;
    border-left: 1px solid #C6A6A5;
    border-right: 1px solid #C6A6A5;
  }

}

.h-3000 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-top: 100px;
}

.main-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.sticknav {
  display: flex;
  position: sticky;
  /* Add this */
  width: 99vw;
  /* Add this */
  top: 0;
  padding: 0;
  margin: 0;
  z-index: 3;

  /* Add this */
}

/* Style the links inside the navigation bar */


/* Change the color of links on hover */
.sticknav a:hover {
  background-color: #e9b49e;
  color: white;
}

/* Add a color to the active/current link */
/* .topnav a.active {
  background-color: #e9b49e;
  color: white;
} */

/* Right-aligned section inside the top navigation */
.sticknav-right {
  float: right;
}

/*  Banner*/

.banner {
  display: flex;
  flex-direction: row;
  width: 99vw;
  justify-content: center;
  margin-top: 150px;
}

.pic-banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  margin: 0px 30px;
}

.img-w-100 {
  width: 70%;
  margin: 5px;
}

.b-bottom {
  border-bottom: 1px solid black;
}

.f-center-j-a-r {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.f-center-j-a-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*   About*/
.about {
  margin-top: 10%;
  width: 100%;
}

.fondo {
  position: absolute;
  z-index: 1;
  filter: opacity(20%);
}

.superponer {
  position: absolute;
  z-index: 2;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.m-p-bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

.mt-10 {
  margin-top: 10%;
}

.txt-center {
  text-align: center;
}

.superposicion {
  width: 100%;
  height: 500px;
}

/*Servicios*/

.cards-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
}

.div-card {
  width: 20%;
  border-bottom: 2px solid black;
}



.menu-icon {
  display: none;
}